<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <settings>
        <inputFolder>./examples</inputFolder>
        <labelOrder>Add Last</labelOrder>
        <portNo>9100</portNo>
        <magnification>0.5</magnification>
        <maxPages>3</maxPages>
        <saveToHome>true</saveToHome>
        <alternateSaveLocation>/Users/dave/Commander4j</alternateSaveLocation>
    </settings>
</config>
